<div [ngClass]="{'active': price > 0}">
    <button [disabled]="disable" (click)="addToCard(5)">Add to card</button>
</div>

<!-- <div>
    <input type="text" [value]="amount" (input)="amount=$event.target.value">{{ amount }}
</div> -->
<!-- <input type="number" #quantity>
<button (click)="changeQuantity(quantity.value">Click</button> -->

<div>
    <button (click)="decrease()">-</button>
    <input type="number" min="1" [value]="amount" (input)="amount=$event.target.value"> {{ amount }}
    <button (click)="increase()">+</button>
</div>

<ul>
    <li *ngFor="let option of options" (click)="selectSize(option)">
        {{ option }}
    </li>
</ul>

{{userName}}
