<h1>{{ title }} Angular</h1>
<button (click)="changeTitle()">Click</button>
{{counter}}
<button (click)="incrementCounter()">+1</button>

<div>
  <button (click)="toggleDropDown()">Menu</button>
  <ul *ngIf="stateDropDown">
    <li>text1</li>
    <li>text2</li>
    <li>text3</li>
  </ul>
</div>

<div>
  <input type="text" [(ngModel)]="newProduct">
  <button (click) = "addProduct()">Add</button>
</div>

<div class="list-product">
  <div class="item-product" *ngFor="let item of products">
    <h3>{{ item.name }}</h3>
    <p>{{ item.price }}</p>
  </div>
</div>

<app-home></app-home>
